
div.click2tag-container {
  
}

div.click2tag-container div.form-item {
  display: none;
}

div.click2tag-container form label {
  display: none;
}

div.click2tag-container form input[type=text] {
  display: none;
}

div.termwidgets div.click2tag-tag {
  border: 1px solid black;
  display: inline;
  margin: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

div.termwidgets div.click2tag-tag span {

}

div.termwidgets div.click2tag-tag a {
  color: inherit;
  text-decoration: none;
  border-left: 1px solid black;
  margin-left: 5px;
  padding: 2px;
}